@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3f6f9;
    --foreground: #313f46;
    --card: #d1f1e2;
    --card-foreground: var(--foreground);
    --popover: #d0effa;
    --popover-foreground: var(--foreground);
    --primary: var(--accent-cyan);
    --primary-foreground: var(--background);
    --secondary: 184 74% 95%;
    --secondary-foreground: var(--foreground);
    --muted: #dcdedf;
    --muted-foreground: var(--foreground);
    --destructive: #ff4400;
    --destructive-foreground: var(--background);
    --border: var(--foreground);
    --input: var(--foreground);
    --ring: var(--foreground);
    --radius: 0.5rem;

    --accent-emerald: #6ee7b7;
    --accent-cyan: #22d3ee;
    --accent-green: #4ade80;
    --accent-lime: #9cd62f;
  }
  .dark {
    --background: #202e35;
    --foreground: #fff;
    --card: #064e3b;
    --card-foreground: var(--foreground);
    --popover: #164e63;
    --popover-foreground: var(--foreground);
    --primary: var(--foreground);
    --primary-foreground: var(--foreground);
    --secondary: 0 0% 14.9%;
    --secondary-foreground: var(--foreground);
    --muted: #3c4f58;
    --muted-foreground: #cdcece;
    --destructive: #ff6666;
    --destructive-foreground: var(--foreground);
    --border: var(--foreground);
    --input: var(--foreground);
    --ring: var(--foreground);
    --accent-emerald: #6ee7b7;
    --accent-cyan: #22d3ee;
    --accent-green: #4ade80;
    --accent-lime: #bbf451;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply !bg-background !text-foreground;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
