@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 199 18% 33%;
    --card: 184 74% 95%;
    --card-foreground: 0 0% 3.9%;
    --popover: 162 74% 95%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 162 72% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 184 74% 95%;
    --secondary-foreground: 0 0% 9%;
    --muted: 184 74% 95%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 199 18% 33%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 199 18% 33%;
    --input: 199 18% 33%;
    --ring: 199 18% 33%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --primary-green: 162 72% 53%;
    --primary-cyan: 183 72% 53%;
    --accent-green: 96, 72%, 53%;
    --accent-yellow: 54, 72%, 53%;
  }
  .dark {
    --background: 199 26 17%;
    --foreground: 0 0% 98%;
    --card: 169 46% 27%;
    --card-foreground: 0 0% 98%;
    --popover: 187 48% 28%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0, 100%, 70%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 98%;
    --input: 0 0% 98%;
    --ring: 0 0% 98%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-green: 162 72% 53%;
    --primary-cyan: 183 72% 53%;
    --accent-green: 96, 72%, 53%;
    --accent-yellow: 54, 72%, 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply !bg-background !text-foreground;
  }
}
.class {
  background-color: hsl(0, 100%, 50%);
}
